body { 
    font-family: 'Roboto', Georgia, Times; 
    font-size: 16px; 
    background-color: white;
    transition: background-color 0.5s ease-in-out;
}

.terminal {
    width: 100%;
    height: 100%;
    color: black;
}

#output {
    font-size: 12pt;
    background-color: whitesmoke;
    color: blue;
}

#output::-webkit-input-placeholder { 
    color: blue; /* Change this to the desired color */
}
