@import url(https://fonts.googleapis.com/css?family=Roboto);

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: 'Merriweather', Georgia, Times; font-weight: 700;}

blockquote p { font-size: 16px; line-height: 1.6em; }

/* Masthead */
.header, .footer, .header h3 { font-family: 'Montserrat', Helvetica, sans-serif; text-transform: uppercase; font-weight: normal; }

/* Navigation */
h3.text-muted a {text-decoration: none; color: #999999; }
h3.text-muted a:hover { text-decoration: none; color: #0088cc; }

.notifyjs-foo-base {
    opacity: 0.85;
    width: 250px;
    background: #29e68d;
    border-radius: 10px;
}
  
.notifyjs-foo-base .title {
    width: 200px;
    margin: 10px;
}
  
.notifyjs-foo-base .buttons {
    width: 70px;
    float: right;
    margin: 2px;
}
  
.notifyjs-foo-base button {
    font-size: 9px;
    margin: 2px;
    width: 60px;
    font-size: 12px;
}

.logo {
    width: 45px;
    height: 45px;
}

.menu {
    width:22%;
    padding: 2px;
    outline-width: 2pt;
    outline-style: groove;
}

.examples {
    overflow-y: scroll;
    height: 438px;
}

.content {
    width:77.5%;
    float:right;
    padding: 3px;
    outline-width: 2pt;
    outline-style: groove;
}

#examples_list {
    padding: 5px;
    outline-width: 1pt;
    outline-style: dashed;
}

#counter {
    border: 1px solid;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
} 

#count-value {
    margin-left: 8px;
    font-weight: bold;
}

#editor {
    position: relative;
    width: 100%;
    height: 360px;
    margin-top: 10px;
    border: 1px solid;
    resize: both;
}

#result {
    margin-top: 3pt;
    outline-width: 1pt;
    outline-style: double;
}

button#theme {
    font-size: 14px;
}
button#dropdown{
    font-size: 14px;
}