body { 
    font-family: 'Roboto', Georgia, Times; 
    font-size: 16px; 
    background-color: black;
    transition: background-color 0.5s ease-in-out;
}

.panel {
    margin: 0px;
    padding: 3px;
    outline-width: 2pt;
    outline-style: dotted;
    background-color: transparent;
    color: azure;
}

#output {
    font-size: 12pt;
    background-color: black;
    color: springgreen;
    
}

#output::-webkit-input-placeholder { 
    color: springgreen; /* Change this to the desired color */
}