<div class="footer">
    <div class="row">
        <div class="col-sm-8">
            <p><a href="https://github.com/classicwuhao" title="GitHub" target="_blank" rel="github">Wu Hao</a></p>
        </div>
        <div class="col-sm-4">
            <p class="pull-right">
                <a href="https://github.com/freestyletime/Cyclone4Web" target="_blank" rel="github">
                    <img id="github-logo" width="26" height="26" src="{{ url_for('static', filename= 'img/github-mark.png') }}">
                </a>
            </p>
        </div>
    </div>
    <div class="row">
        <center><small>
            <a href="https://www.cs.nuim.ie/research/pop/">Principles of Programming Research Group</a>
            &copy; 2023 <span itemprop="affiliation"><a href="https://www.maynoothuniversity.ie/"><u>Maynooth University</u></a></span>
        </small></center>
    </div>
</div> <!-- /footer -->