<div class="header">
    <ul class="nav nav-pills pull-right">
        <li class=""><a href="https://github.com/classicwuhao" title="GitHub">Cyclone Author</a></li>
        <li class=""><a href="https://classicwuhao.github.io/cyclone_tutorial/installation.html" title="Contact">Cyclone Tutorial</a></li>
    </ul>
    <h3 class="text-muted">
        <img class="logo" src="{{ url_for('static', filename= 'img/favicon.ico') }}"/>
        <a href="/editor">Cyclone4Web</a>
    </h3>
</div> <!-- /header -->  