<!-- javascript at the end of the doc so page loads faster -->
<script src="https://code.jquery.com/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ url_for('static', filename= 'js/bootstrap.min.js') }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ url_for('static', filename= 'js/notify.min.js') }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ url_for('static', filename= 'js/jquery.loading.min.js') }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ url_for('static', filename= 'js/initialization.js') }}" type="text/javascript" charset="utf-8"></script>